:root {
  --black: #141414;
  --light-grey: #a7a7a7;
  --dark-grey: #9d9d9d;
  --white: #ffffff;
  --red: rgba(255, 0, 0, 1);
  --shadow-light: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  --shadow-dark: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

body[data-theme="dark"] {
  color: var(--white);
  background-color: var(--black);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.error {
  color: var(--red);
}

button {
  border: 1px solid var(--light-grey);
  border-radius: 40px;
  outline: none;
  color: var(--black);
  background: var(--white);
  box-shadow: var(--shadow-light);
}

body[data-theme="dark"] button {
  color: var(--white);
  background-color: var(--black);
  box-shadow: var(--shadow-dark);
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label[for="colorPicker"] {
  display: block;
  text-align: center;
}

.search-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-controls input, .search-controls select {
  width: 40%;
  padding: 10px;
  margin-right: 10px;
  line-height: 18px;
  font-size: 18px;
}

.searchForm button,
.toggleTheme {
  padding: 10px;
}

.search-controls input::placeholder,
.search-controls button,
.toggleTheme {
  font-size: 16px;
}

nav {
  position: relative;
  height: 100px;
}

.toggleTheme {
  position: absolute;
  right: 0px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flickerAnimation 1s infinite;
}

.resultgrid {
  list-style-type: none;
  padding: 0px;
}

.resultgrid li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid var(--light-grey);
}

.resultgrid li span {
  padding: 10px;
}
